@use '../utils/colors.scss';
.new-playlist-container {
    border: 1px solid colors.$dark-borders;
    background-color: colors.$dark-sidebar;
    border-radius: 6px;
    padding: 40px;
    h2 {
        font-size: 24px;
    }
    form {
        margin-top: 20px;
        input {
            background-color: colors.$dark-sidebar;
            border: 1px solid colors.$dark-borders;
            border-radius: 4px;
            margin-top: 5px;
            height: 40px;
            color: rgba(#fff, 0.75);
            font-size: 13px;
             padding: 15px;
             width: 300px;
             max-width: 100%;
             outline: 0;
             &:focus {
                border: 1px solid colors.$main-color;
             }
         }
         .create_playlist {
            background-color: rgba(colors.$main-color, 0.9);
            color: rgba(#000, 0.8);
            padding:0;
            font-weight: 600;
            height: 40px;
            padding: 0 15px;
            margin-left: 10px;
            border: 0;
            border-radius: 4px;
            font-size: 14px;
            @media screen and (max-width: 768px) {
                width: 100%;
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
}
.my-playlists {
    margin-top: 40px;
    h2 {
        font-size: 36px;
    }
    .playlists-list {
        margin-top: 40px;
        a {
            display: flex;
            padding: 10px;
            align-items: center;
            gap: 10px;
            border-radius: 4px;
            &:nth-child(odd) {
                background-color: colors.$dark-sidebar;
            }
            span {
                font-size: 15px;
                color:rgba(#fff, 0.6)
            }
            svg {
                path {
                    fill: rgba(#fff, 0.6);
                }
            }
            &:hover {
                background-color: rgba(colors.$main-color, 0.05);
                span {
                    color: colors.$main-color;
                }
                svg {
                    path {
                        fill: colors.$main-color;
                    }
                }
            }
        }
    }
}
