@use '../utils/colors.scss';
.artist-header {
    background-color: colors.$dark-sidebar;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    border-radius: 8px;
    gap: 40px;
    border:1px solid colors.$dark-borders;
    margin-bottom: 40px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .artist-image {
        min-width: 150px;;
        img {
            width: 150px;
            height: 150px;
            border-radius: 75px;
            border: 1px solid colors.$main-color;
        }
    }
    .artist-info {
        .artist-name {
            font-size: 36px;
        }
        .artist-description {
            margin-top: 20px;
            font-size: 16px;
            color: rgba(#fff, 0.5);
        }
    }
}
.albums-songs {
    display: flex;
    gap: 40px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .albums {
        width: auto;
        h3 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .albums-list {
            width: 150px;
            @media screen and (max-width: 768px) {
                width: 100%;
                display: flex;
                gap: 10px;
            }
            .album-item {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                a {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

}
.playlist {
    margin-top: 0;
    flex: 1;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }

}
