@use './colors.scss';
@use './fonts.scss';
body {
    background-color: colors.$dark-main;
    color: colors.$text;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 16px;
    overflow: hidden;
    user-select: none;
}
.bottom-bar {
    height: 100px;
    background-color: colors.$dark-sidebar;
    border-top: 1px solid colors.$dark-borders;
}
.main-content {
    display: flex;
    height: calc(100dvh - 180px);
    overflow: hidden;
    &.profile {
        height: calc(100dvh);
    }
}
.main {
    flex: 1;
    padding: 30px;
    overflow-y: scroll;
    height: calc(100dvh - 180px);
    &.profile {
        height: calc(100dvh);
    }
    &.template {
        height: 100dvh;
    }
}
.sidebar {
    width: 250px;
    background-color: colors.$dark-sidebar;
}