#player-main {
    display: flex;
    flex-direction: row;
    align-items: center;

    .info {
        .current-thumb {
            width: 50px;
        }
    }

    .download-button {
        display: none;
    }
}