@use '../utils/colors.scss';
.page-template {
    height: calc(100dvh - 80px);
    display: flex;
    h2 {
        font-size: 36px;
        margin-bottom: 40px;
    }
    h3 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 22px;
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 30px;
    }
    ul {
        li {
            margin-left: 20px;
            margin-top: 10px;
        }
    }
    .page-template_left-side {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
    }
    .page-template_right-side {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        overflow-y: auto;
    }
    .section {
        background-color: colors.$dark-sidebar;
        padding: 20px;
        border-radius: 6px;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 100px;
        }
    }
    //PREMIUM PAGE CSS
    &.go-premium {
        .page-template_left-side {
            background-image: url('../img/arts/gopremium/gopremium.jpg');
            background-size: cover;
            background-position: center;
            @media (max-width: 992px) {
                display: none;
            }
        }
        .page-template_right-side {
            .page-template_right-side_content {
                h2 {
                    font-size: 36px;
                    margin-bottom: 40px;
                }
                p {
                    margin-top: 30px;
                    color: rgba(#fff, 0.5);
                }
                ul {
                    color: rgba(#fff, 0.5);
                    margin-top: 30px;
                    li {
                        margin-top: 5px;
                    }
                }
                a.premium-btn {
                    background-color: colors.$main-color;
                    color: rgba(#000, 0.7);
                    font-weight: 600;
                    padding: 20px;
                    border-radius: 4px;
                    width: 100%;
                    display: block;
                    text-align: center;
                    margin-top: 30px;
                    &:hover {
                        background-color: rgba(colors.$main-color, 0.2);
                        color: colors.$main-color;
                    }
                }
            }
        }
    }
    //CANCEL PREMIUM PAGE CSS
    &.cancel-premium {
        .page-template_left-side {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            h2 {
                font-size: 36px;
                margin-bottom: 40px;
            }
            p {
                margin-top: 30px;
                color: rgba(#fff, 0.5);
            }    
            ul {
                color: rgba(#fff, 0.5);
                margin-top: 30px;
                li {
                    margin-top: 5px;
                }
            }
            .cancel-premium-btn {
                background-color: rgba(#f3444f, 1);
                color: #fff;
                font-weight: 600;
                padding: 20px;
                border-radius: 4px;
                width: 100%;
                display: block;
                text-align: center;
                margin-top: 30px;
                border:0;
                cursor: pointer;
                &:hover {
                    background-color: rgba(#f3444f, 0.5);
                    color: #fff;
                }
            }
        }
        .page-template_right-side {
            background-image: url('../img/arts/cancel-sub/cancel-sub.jpg');
            background-size: cover;
            background-position: center;
            @media (max-width: 992px) {
                display: none;
            }
        }
    }
    //PREMIUM SUCCESS
    &.premium-success {
        .page-template_left-side {
            background-image: url('../img/arts/premium-success/premium-sucess.jpg');
            background-size: cover;
            background-position: center;
            @media (max-width: 992px) {
                display: none;
            }
        }
    }
}