@use '../utils/colors.scss';
.profile {
    h2 {
        font-size: 36px;
    }
    .profile-img {
        img, svg {
            width: 150px;
            height: 150px;
            border-radius: 100px;
        }
    }
    #profile-picture-form {
        margin-top: 20px;
        .file-picker {
            border-radius: 100px;
            display: flex;
            border-radius: 4px;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            border: 2px dashed rgba(#fff, 0.3);
            color: rgba(#fff, 0.3);
            padding: 10px;
        }
    }
}