@use '../utils/colors.scss';

.sound-wave {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 6px;
    width: 30px; /* Quadrado */
    height: 30px; /* Quadrado */
    //background-color: #121212; /* Fundo opcional */
    border-radius: 8px; /* Canto arredondado, se desejar */
  }
  
  .bar {
    width: 10px; /* Largura da barra */
    height: 100%;
    background-color: colors.$main-color; /* Cor das barras */
    animation: sound 1s infinite;
    border-radius: 2px;
  }
  
  .bar:nth-child(1) { animation-delay: 0s; }
  .bar:nth-child(2) { animation-delay: 0.2s; }
  .bar:nth-child(3) { animation-delay: 0.4s; }
  .bar:nth-child(4) { animation-delay: 0.6s; }
  
  @keyframes sound {
    0%, 100% {
      transform: scaleY(0.3); /* Altura mínima da barra */
    }
    50% {
      transform: scaleY(1); /* Altura máxima da barra */
    }
  }