@use '../utils/colors.scss';
.soniica-notification {
    height: 35px;
    width: 35px;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$dark-borders;
    position: relative;
    cursor: pointer;
    svg {
        width: 15px;
        height: 15px;
    }
    .notification-number {
        font-size: 13px;
        font-weight: 700;
        position: absolute;
        top: -5px;
        right: -5px;
        height: 20px;
        width: 20px;
        background-color: red;
        color: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .notification-message {
        position: absolute;
        top: 50px;
        width: 210px;
        padding: 20px;
        background-color: colors.$dark-sidebar;
        border-radius: 4px;
        border: 1px solid colors.$dark-borders;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        pointer-events: none;
    }
    &:hover {
        .notification-message {
            opacity: 1;
            pointer-events: all;
        }
    }
}